* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html, body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
#card{
    border-radius: 10px;
    height: 400px;
    width: 300px;
    background-color: #fff;
    
    
    text-align: center;
    padding:30px;
    
}
img{
    height: 55%;
    width:100%;
    object-fit: cover;
    border-radius: 10px;
}
h5{
    margin: 10px;
    font-weight:800;
    color: red;
    padding: 10px;
    font-size: 25px;
    margin: 20px;
}
#btn button{
    height:35px;
    width: 100px;
    background-color: cadetblue;
    color:white;
    border-radius: 20px;
    border:none;
}
